/* styles2.css */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white; /* Color blanco para todo el texto en el cuerpo */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.titulo {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  color: white; /* Color blanco para el título */
}

.boton-regresar {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.boton-regresar:hover {
  background-color: #555;
}

.contenido {
  font-size: 1.2em;
  line-height: 1.5;
  color: white; /* Color blanco para el contenido */
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .titulo {
    font-size: 1.5em;
  }

  .boton-regresar {
    font-size: 1em;
  }

  .contenido {
    font-size: 1em;
  }
}

/* Estilo específico para el párrafo */
.contenido p {
  text-align: justify;
  text-justify: inter-word;
}

